{% extends 'blog/base.html' %}

{% block contenido %}
<section>
    <div>
        <h1>Lista de Articulos </h1>
        <br>
        <form action= "{% url 'buscar_articulos' %}" method= "post">
            {% csrf_token %}
            <input type= "text" name= "busqueda"> 
            <input type= "submit" value= "Buscar">
        </form>
        <br><br>

        <div class="articulos-lista">
            {% for articulo in articulos %}
            <div class="articulo">
                <h2>{{ articulo.titulo }} - {{ articulo.subtitulo }}</h2>
                <p>{{ articulo.cuerpo|slice:":150" }}</p> <!-- Mostrar solo los primeros 150 caracteres del cuerpo del artículo -->
                <a href="{% url 'ver_articulo' articulo.id %}" class="leer-mas">Leer más</a>
                <br><br>
                {% if articulo.imagen %}
                <div class="imagen-articulo-container">
                    <img src="{{ articulo.imagen.url }}" alt="Imagen del artículo" class="imagen-articulo" style="max-width: 200px; max-height: 200px;">
                </div>
                {% endif %}
                
            </div>
            {% endfor %}
        </div>

    </div>
</section>
{% endblock contenido %}

